@import "tailwindcss";

@keyframes slideProgress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-slideProgress {
  animation: slideProgress 7s linear forwards;
  transform-origin: left; 
}
